body {
    background-color: #ffffff; 
    color: #444444;
    font-family:  "Arial";
}

.error {
    color: #ff0000;
}

//table, th, td {
  //  border: 1px solid #ddd;
//}

.tip {
    font-size: 14px;
}

.topup_header {
    color: #ffffff;
    background-color: #d05d5d;
    text-align: left;
    font-weight: bold;
}

.content {  
    background-color: #f5f5f5;   
    padding-top: 10px; padding-right: 10px; padding-bottom: 10px; 
    padding-left: 10px;  
    margin-top: 10px; margin-right: 10px; margin-bottom: 10px; 
    margin-left: 10px;}

a:link { color: #6c98c4; text-decoration: none; }

a:visited { color: #6c98c4; text-decoration: none; }

a:hover { color: #cccccc; text-decoration: none; }

.title {   
    font-size: 24px; font-weight: normal; color: #ffffff; 
    margin-top: 5px; margin-bottom: 5px; margin-left: 20px;   padding-top: 5px; 
    padding-bottom: 5px; padding-left: 20px;}


.btn_submit {
  //padding: 6px 40px 6px 40px;
}