.header-container{
    background-color: rgb(244,111,34);
}
.form-control.topup-number:focus, .form-control.topup-number:active, .form-control.topup-number:hover {
    border:1px solid rgb(244,111,34) !important;
}
.plan-selection-container span.plan-selection-selected{
    border-bottom: 6px solid rgb(244,111,34);
    color: rgb(244,111,34);
}
.plan-voice-selection-container>span.plan-voice-selection-selected>span {
    background-color: rgb(244,111,34);
    border-color: rgb(244,111,34);
    color: #fff;
}
.plan-voice-selection-container a ,.plan-voice-selection-container a:hover{
    color: rgb(244,111,34);
}
.plan-voice-details-container {
    border: 1px solid rgb(244,111,34);
}
.terms-description {
    color: rgb(244,111,34);
}
.terms-description:hover{
    color: rgb(244,111,34);
    opacity: 0.8;
}