.header-container{
    background-color: rgb(1,151,116);
}
.form-control.topup-number:focus, .form-control.topup-number:active, .form-control.topup-number:hover {
    border:1px solid rgb(1,151,116) !important;
}
.plan-selection-container span.plan-selection-selected{
    border-bottom: 6px solid rgb(1,151,116);
    color: rgb(1,151,116);
}
.plan-voice-selection-container>span.plan-voice-selection-selected>span {
    background-color: rgb(1,151,116);
    border-color: rgb(1,151,116);
}
.plan-voice-selection-container a ,.plan-voice-selection-container a:hover{
    color: rgb(1,151,116);
}
.plan-voice-details-container {
    border: 1px solid rgb(1,151,116);
}
.terms-description {
    color: rgb(1,151,116);
}
.terms-description:hover{
    color: rgb(1,151,116);
    opacity: 0.8;
}
/*.middle-box form .btn-primary{*/
    /*background-color: rgb(1,151,116);*/
/*}*/