/*  211,1,50 */
.header-container{
    background-color: rgb(211,1,50);
}
.form-control.topup-number:focus, .form-control.topup-number:active, .form-control.topup-number:hover {
    border:1px solid rgb(211,1,50) !important;
}
.plan-selection-container span.plan-selection-selected{
    border-bottom: 6px solid rgb(211,1,50);
    color: rgb(211,1,50);
}
.plan-voice-selection-container>span.plan-voice-selection-selected>span {
    background-color: rgb(211,1,50);
    border-color: rgb(211,1,50);
}
.plan-voice-selection-container a ,.plan-voice-selection-container a:hover{
    color: rgb(211,1,50);
}
.plan-voice-details-container {
    border: 1px solid rgb(211,1,50);
}
.terms-description {
    color: rgb(211,1,50);
}
.terms-description:hover{
    color: rgb(211,1,50);
    opacity: 0.8;
}
