		html, body {
			font-size: 15px;
			font-family: -apple-system, ".SFNSText-Regular", "SF UI Text", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", sans-serif;
		}
		.topup-number {
			font-weight: bold;
		}
		.plan-selection-container {
			padding-top: 6px;
			margin-bottom: 12px;
			white-space: nowrap;
		}
		.plan-selection-container span {
			position: relative;
			border-bottom: 6px solid transparent;
			color: #888;
			margin: 0px 4px 0px 4px;
			padding: 8px; 
			cursor: pointer
		}
		.plan-selection-container span.plan-selection-selected {
			border-bottom: 6px solid rgb(142, 198, 63);
			color: rgb(142, 198, 63);
			font-weight: bold;
		}
		.middle-box {
			padding: 24px 0px;
		}
		.plan-voice-selection-container {
			position: relative;
			font-size: 0px;
		}
		.plan-voice-selection-container a {
			color: rgb(142, 198, 63);
		}
		.plan-voice-selection-container a:hover {
			color: rgb(142, 198, 63);
		}
		.plan-voice-selection-container a:active {
			color: rgb(142, 198, 63);
		}
		.plan-voice-selection-container>span {
			display: inline-block;
			position: relative;
			width: 25%;
			text-align: center;
			font-size: 15px;
			padding: 4px;
			line-height: 1;
			float: left;
		}
		.plan-voice-selection-container>span>span {
			font-size: 15px;
			display: inline-block;
			border: 1px solid #ccc;
			padding: 10px 0px;
			background-color: #fff;
			color: #666;
			width: 100%;
			cursor: pointer;
		}
		.plan-voice-selection-container>span.plan-voice-selection-selected>span {
			background-color: rgb(142, 198, 63);
			border-color: rgb(142, 198, 63);
			color: #fff;
		}
		.plan-voice-selection-container>span.plan-voice-selection-selected>span a {
			color: #fff;
		}
		.plan-voice-details-container {
			background-color: #fff;
			border: 1px solid rgb(142, 198, 63);
			padding: 8px;
			margin-top: 12px;
			/* background-color: #EFF2EA; */
		}
		.plan-voice-details-container div {
			padding: 0px 12px;
			display: none;
			background-color: rgb(142, 198, 63);
		}
		.plan-voice-details-container div.plan-voice-details-visible {
			display: block;
			line-height: 1;
		}
		.input-group-lg>.input-group-addon, .input-group-lg>.form-control {
			border-radius: 0px;
			font-size: 15px;
		}
		.terms-description {
			color: rgb(142, 198, 63);
		}
		
		
		
		
		.plan-data-selection-container {
			position: relative;
			font-size: 0px;
		}
		.plan-data-selection-container span {
			display: inline-block;
			position: relative;
			width: 50%;
			text-align: center;
			font-size: 15px;
			padding: 4px;
			float: left;
		}
		.plan-data-selection-container span>a {
			font-size: 15px;
			display: inline-block;
			border: 1px solid #ccc;
			padding: 10px;
			background-color: #fff;
			color: #666;
			width: 100%;
		}
		.plan-data-selection-container span.plan-data-selection-selected>a {
			background-color: rgb(142, 198, 63);
			border-color: rgb(142, 198, 63);
			color: #fff;
		}
		
		.plan-selection-switcher {
			background-color: #f3f3f4;
			display: none;
		}
		.plan-selection-switcher-visible {
			display: block;
		}
		
		.plan-social-selection-container {
			position: relative;
			font-size: 0px;
		}
		.plan-social-selection-container>span {
			display: inline-block;
			position: relative;
			width: 50%;
			text-align: center;
			font-size: 15px;
			padding: 4px;
			float: left;
		}
		.plan-social-selection-container>span>a {
			font-size: 15px;
			display: inline-block;
			border: 1px solid #ccc;
			padding: 10px;
			background-color: #fff;
			color: #666;
			width: 100%;
		}
		.plan-social-selection-container>span.plan-social-selection-selected>a {
			background-color: rgb(142, 198, 63);
			border-color: rgb(142, 198, 63);
			color: #fff;
		}
		.general-prompt {
			font-weight: bold;
			padding-left: 8px;
		}
		
		.btn-primary {
			background-color: rgb(142, 198, 63);
			border-color: rgb(142, 198, 63);
			color: #fff;
			font-size: 15px;
		}
		.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
			background-color: rgb(142, 198, 63);
			border-color: rgb(142, 198, 63);
			color: #fff;
		}
		.input-group .form-control {
			position: static;
		}
		.form-control:focus, .form-control:active, .form-control:hover {
			border-color: rgb(142, 198, 63) !important;
		}
		.hr-line-dashed {
			border-color: rgb(142, 198, 63);
			background-color: transparent;
		}
		.fa {
			color: rgb(142, 198, 63);
		}
		
		.terms-description-layer {
			position: fixed;
			margin: 0px;
			padding: 0px;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			display: none;
		}
		.terms-description-layer-mask {
			background-color: #fff;
			opacity: 0.6;
			position: absolute;
			margin: 0px;
			padding: 0px;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
		}
		.terms-description-layer-background {
			position: relative;
			background-color: #fff;
			width: 100%;
			padding: 24px 16px;
			border: 1px solid rgb(142, 198, 63);
			box-shadow: 0px 0px 3px #888888;
			z-index: 10;
		}
		.terms-description-layer-close {
			position: relative;
			left: 6px;
			top: -12px;
			height: 34px;
			width: 34px;
			line-height: 1.1;
			font-size: 30px;
			background-color: rgb(142, 198, 63);
			border: 1px solid rgb(142, 198, 63);
			text-align: center;
			color: #fff;
			border-radius: 17px;
		}
		.terms-description-layer-close:hover {
			opacity: 0.8;
			color: #fff;
		}
		.terms-description-layer-close:active {
			background-color: #fff;
			color: rgb(142, 198, 63);
		}
		.terms-description-layer-title {
			color: rgb(142, 198, 63);
			font-size: 18px;
			padding-top: 12px;
		}
		body.show-terms-description {
			overflow: hidden;
		}
		body.show-terms-description .terms-description-layer {
			display: block;
		}
		
		
		.alert-layer {
			position: fixed;
			margin: 0px;
			padding: 0px;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			display: none;
		}
		.alert-layer-mask {
			background-color: #fff;
			opacity: 0.6;
			position: absolute;
			margin: 0px;
			padding: 0px;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
		}
		.alert-layer-background {
			position: relative;
			background-color: #fff;
			width: 100%;
			padding: 24px 16px;
			border: 1px solid rgb(142, 198, 63);
			box-shadow: 0px 0px 3px #888888;
			z-index: 10;
		}
		.alert-layer-close {
			position: relative;
			left: 6px;
			top: -12px;
			height: 34px;
			width: 34px;
			line-height: 1.1;
			font-size: 30px;
			background-color: rgb(142, 198, 63);
			border: 1px solid rgb(142, 198, 63);
			text-align: center;
			color: #fff;
			border-radius: 17px;
		}
		.alert-layer-close:hover {
			opacity: 0.8;
			color: #fff;
		}
		.alert-layer-close:active {
			background-color: #fff;
			color: rgb(142, 198, 63);
		}
		.alert-layer-title {
			font-size: 48px;
			padding-top: 12px;
		}
		.alert-layer-title .fa {
			color: #8a6d3b;
		}
		.alert-layer-title span {
			font-size: 36px;
		}
		body.show-alert {
			overflow: hidden;
		}
		body.show-alert .alert-layer {
			display: block;
		}