
		<div class="terms-description-layer">
			<div class="terms-description-layer-mask"></div>
			<div class="middle-box" style="padding-top: 48px; height: 100%; overflow-y: auto;">
				<div class="terms-description-layer-background">
					<a class="pull-right terms-description-layer-close">&times;</a>
					
					<h3 class="terms-description-layer-title">主账户(Main Account)</h3>
					<p>主账户里的金额可以用来拨打电话，发送短信，激活增值服务和购买流量套餐，在新ຍ坡以外地区漫游时也可以使用</p>

					<h3 class="terms-description-layer-title">红利账户(Bonus Account)</h3>	
					<p>红利账户里面的金额只能用来拨打电话，发送短信，不能用来购买流量套餐</p>

					<h3 class="terms-description-layer-title">附加账户</h3>	
					<p>本地话费 本地话费只能用于拨打新加坡本地电话，发送本地短信</p>
					<p>国际话费 国际话费只能用于拨打国际电话，发送国际短信</p>

					<h3 class="terms-description-layer-title">有效期</h3>	
					<p>预付卡(Prepaid SIM Card)的有效期从拨打第一个电话开始，用户可以通过充值延长有效期。如果在有效期内进行一次成功的充值，预付卡的有效期就会被累加，新的有效期为充值前所剩余的有效期加上新的充值所提供的有效期，但累加后的有效期最长不可以超过180天</p>

					
				</div>
			</div>
		</div>